.customSelectContainer {
  position: relative;
  width: 230px;
}

.selectSelected {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  height: 43px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.selectSelected.active {
  border: 2px solid #7367F0;
}

.dropdownArrow {
  margin-left: 10px;
  transition: .175s;

  svg {
    font-size: 12px;
  }

  &.active {
    transform: rotate(180deg);
    transition: .175s;
  }
}

.selectItemsDropdown {
  position: absolute;
  background-color: white;
  max-width: 350px;
  z-index: 999;
  margin-top: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
  box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
  transition: .175s;
  padding: 5px;
  overflow-y: auto;
  max-height: 275px;
}

.borderBottom {
  border-bottom: 1px dashed #ccc;
}

.dropdownItem {
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  color: #6e6b7b;
  font-size: 15px;
  margin-bottom: 3px;
  overflow-x: hidden;
}

.dropdownItem:hover {
  background-color: #f3f2f3;
}

.sameAsSelected {
  background: rgba(115, 103, 240, .1);
  color: #7367F0;

  &:hover {
    background: rgba(115, 103, 240, .1);
    color: #7367F0;
  }
}

.error {
  color: red;
  margin-top: 10px;
}

.searchInput {
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-weight: bold;
}

.noResults {
  padding: 8px;
  color: #888;
  text-align: center;
}

.label {
  font-weight: bold;
}