@import '../../_styles/shared.module.scss';

.inventoryFilterBar {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;

    .btnPrimary {
        width: 95px;
        i {
            margin-right: 5px;
        }
    }
    .btnWrapper {
        width: 110px;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
            margin: 0;
        }
    }
}