# Ignored
node_modules
build
npm-debug.log
*.env*
.DS_Store
env
cypress/videos
cypress/screenshots
.terraform
.parcel-cache
dist
application/public/images

# Allowed
!.env.example

# Temp file used to share the same in-memory db URI between the API and cypress
test-db-uri.txt