.modalContent {
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tableWrapper {
  flex: 1;
  overflow: auto;
  min-width: 0;
}

.row {
  display: flex;
  padding: 12px;
  border-bottom: 1px solid #eee;
  align-items: flex-start;
  min-width: fit-content;

  div {
    flex: 1;
    text-align: left;
    padding: 0 8px;
    min-width: 100px;
    word-wrap: break-word;
    white-space: normal;
    overflow: visible;
  }
} 