/* BLUE TEXT */
/* .text-blue {
	color: #157efb;
} */

/* RED TEXT */
.text-red {
  color: #ea5455;
}

/* PURPLE TEXT */
.text-purple {
  color: #7367f0;
}

/* GREEN TEXT */
.text-green {
  color: #28c76f;
}

/* ORANGE TEXT */
.text-orange {
  color: #ff8510;
}

/* LIGHT BLUE TEXT */
.text-light-blue {
  color: #00cfe8;
}

/* YELLOW TEXT */
.text-yellow {
  color: #ffcb00;
}

/* MAGENTA TEXT */
.text-magenta {
  color: #f74875;
}

/* WHITE TEXT */
.text-white {
  color: white;
}

/* DARK GREY TEXT */
.text-dark-grey {
  color: #676879;
}