

#business-location-cards {
    .tableHeader {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        background-color: #f3f2f7;
        .columnTitle {
            width: 14%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-weight: bold;
            height: 45px;
        }
    }
    .tableRow {
        height: 45px;
        border-bottom: 1px solid #ebe9f1;
        margin-bottom: 0;
        background-color: white;
    }
}
.addNewRow {
    height: 45px;
    width: 100%;
    border: 1px dashed #ebe9f1;
    margin-bottom: 25px;

    &:hover {
        background-color: #f3f2f7;
    }
}
#shipping-location-cards {
    .tableHeader {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        background-color: #f3f2f7;
        .columnTitle {
            width: 9%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-weight: bold;
            height: 45px;
        }
    }
    .tableRow {
        height: 45px;
        border-bottom: 1px solid #ebe9f1;
        margin-bottom: 0;
        background-color: white;
    }
}
#billing-location-cards {
    .tableHeader {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        background-color: #f3f2f7;
        .columnTitle {
            width: 9%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-weight: bold;
            height: 45px;
        }
    }
    .tableRow {
        height: 45px;
        border-bottom: 1px solid #ebe9f1;
        margin-bottom: 0;
        background-color: white;
    }
}
#contact-cards {
    .tableHeader {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        background-color: #f3f2f7;
        .columnTitle {
            width: 9%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-weight: bold;
            height: 45px;
        }
    }
    .tableRow {
        height: 45px;
        border-bottom: 1px solid #ebe9f1;
        margin-bottom: 0;
        background-color: white;
    }
}
.titleHeader {
    width: 100%;
    padding-bottom: 10px;
}