.btn {
  height: 54px;
  width: 160px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 600;
}

button:hover {
  cursor: pointer;
  transition: .3s;
}

.btn:hover {
  cursor: pointer;
  transition: .3s;
}

/* BLUE BUTTONS */
.bgBlue {
  background-color: #157efb;
}

.bgBlue:hover {
  background-color: #0465d9;
}

.btnOutlineBlue {
  border: 2px solid #157efb;
  background: none;
  color: #157efb;
}

.btnOutlineBlue:hover {
  background-color: #157efb;
  border-color: #157efb;
  color: white;
}

/* RED BUTTONS */
.bgRed {
  background-color: #ea5455;
}

.bgRed:hover {
  background-color: #e42728;
}

.btnOutlineRed {
  border: 2px solid #ea5455;
  background: none;
  color: #ea5455;
}

.btnOutlineRed:hover {
  background-color: #ea5455;
  border-color: #ea5455;
  color: white;
}


/* PURPLE BUTTONS */
.bgPurple {
  background-color: #7367f0;
}

.bgPurple:hover {
  background-color: #5e50ee;
}

.btnOutlinePurple {
  border: 2px solid #7367f0;
  background: none;
  color: #7367f0;
}

.btnOutlinePurple:hover {
  background-color: #7367f0;
  border-color: #7367f0;
  color: white;
}

/* GREEN BUTTONS */
.bgGreen {
  background-color: #28c76f;
}

.bgGreen:hover {
  background-color: #1f9d57;
}

.btnOutlineGreen {
  border: 2px solid #28c76f;
  background: none;
  color: #28c76f;
}

.btnOutlineGreen:hover {
  background-color: #28c76f;
  border-color: #28c76f;
  color: white;
}

/* ORANGE BUTTONS */
.bgOrange {
  background-color: #ff8510;
}

.bgOrange:hover {
  background-color: #f67800;
}

.btnOutlineOrange {
  border: 2px solid #ff8510;
  background: none;
  color: #ff8510;
}

.btnOutlineOrange:hover {
  background-color: #ff8510;
  border-color: #ff8510;
  color: white;
}

/* LIGHT BLUE BUTTONS */
.bgLightBlue {
  background-color: #00cfe8;
}

.bgLightBlue:hover {
  background-color: #00b8cf;
}

.btnOutlineLightBlue {
  border: 2px solid #00cfe8;
  background: none;
  color: #00cfe8;
}

.btnOutlineLightBlue:hover {
  background-color: #00cfe8;
  border-color: #00cfe8;
  color: white;
}

/* YELLOW BUTTONS */
.bgYellow {
  background-color: #ffcb00;
}

.bgYellow:hover {
  background-color: #e6b700;
}

.btnOutlineYellow {
  border: 2px solid #ffcb00;
  background: none;
  color: #ffcb00;
}

.btnOutlineYellow:hover {
  background-color: #ffcb00;
  border-color: #ffcb00;
  color: white;
}

/* MAGENTA BUTTONS */
.bgMagenta {
  background-color: #f74875;
}

.bgMagenta:hover {
  background-color: #f51750;
}

.btnOutlineMagenta {
  border: 2px solid #f74875;
  background: none;
  color: #f74875;
}

.btnOutlineMagenta:hover {
  background-color: #f74875;
  border-color: #f74875;
  color: white;
}

/* DARK BUTTONS */
.bgOutlineDark {
  border: 2px solid #6e6b7b !important;
  background: none;
  color: #6e6b7b;
}

/* SPLIT BUTTON */
.splitBtnFrame:hover .btnSplit,
.splitBtnFrame:hover .btnSplitArrowDropdown {
  cursor: pointer;
  transition: .3s;
}

.splitBtnFrame.btnFilter:hover .btnSplit {
  background-color: #dcdfec;
  transition: .3s;
}

.btnSplit,
.btnSplitArrowDropdown {
  padding: 5px;
  font-size: 16px;
}

.splitBtnFrame.btFilter .btnSplit,
.splitBtnFrame.btnFilter .btnSplitArrowDropdown {
  background: transparent;
}

.btnSplit {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 1px solid transparent;
  margin-right: 1px;
}

.btnSplit i {
  margin-right: 7px;
}

.btnSplitArrowDropdown {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border: 1px solid transparent;
}

.btnFilter .btnSplitArrowDropdown:hover {
  background-color: #c3c6d4 !important;
}

.btnCreate,
.btnPersonFilter,
.btnSort {
  height: 33px;
  width: 95px;
  border-radius: 3px;
}

.btnPersonFilter,
.btnSort {
  margin: 0 10px;
}

.btnPersonFilter {
  position: relative;
}

.toast {
  background-color: #333;
}

.btnPersonFilter .toast {
  color: white;
  position: absolute;
  padding: 5px 10px;
  top: -100%;
  width: 100%;
  left: 50%;

}

#backToTop {
  position: fixed;
  right: 30px;
  bottom: 5%;
  background-color: red;
  width: 50px;
  height: 50px;
  z-index: 9;
  border-color: #7367f0 !important;
  background-color: #7367f0 !important;
  border-radius: .358rem;
  color: white;
  font-size: 20px;
  display: none;
}

#backToTop:hover {
  box-shadow: 0 8px 25px -8px #7367f0;
}

.btnPersonFilter:hover,
.btnSort:hover {
  background-color: #dcdfec;
}

.btnFilter.active .quickFilter.btnSplit,
.btnFilter.active .quickFilter.btnSplitArrowDropdown {
  background: #cce5ff;
}

.btnFilter.active .btnSplitArrowDropdown:hover {
  background-color: #cce5ff !important;
}
// TODO
.splitBtnFrame:hover .btnAdvancedFilter {
	background-color: #aab2d1;
}

.btnFilter.active .quickFilter.btnSplit,
.btnFilter.active .btnAdvancedFilter.btnSplitArrowDropdown,
.btnPerson-filter.active {
	background-color: #cce5ff;
}

.quickFilter.btnSplit.active,
.filterBtnWrapper.active .btnAdvancedFilter.btnSplitArrowDropdown,
.filterBtnWrapper.active .quickFilter.btnSplit,
.filterBtnWrapper.active .btnAdvancedFilter {
	background-color: #cce5ff!important;
}

.quickFilter.btnSplit.active,
.filterBtnWrapper.active .btnAdvancedFilter.btnSplitArrowDropdown,
.filterBtnWrapper.active .quickFilter.btnSplit,
.filterBtnWrapper.active .btnAdvancedFilter {
	background-color: #cce5ff!important;
}

.quickFilter.btnSplit.active + .btnAdvancedFilter.btnSplitArrowDropdown:hover,
.btnAdvancedFilter.btnSplitArrowDropdown.active + .quickFilter.btnSplit:hover,
.quickFilter.btnSplit.active:hover,
.btnAdvancedFilter.btnSplitArrowDropdown.active:hover {
	background-color: #cce5ff!important;
}

.quickFilter.btnSplit.active + .btnAdvancedFilter.btnSplitArrowDropdown:hover,
.btnAdvancedFilter.btnSplitArrowDropdown.active + .quickFilter.btnSplit:hover,
.quickFilter.btnSplit.active:hover,
.btnAdvancedFilter.btnSplitArrowDropdown.active:hover {
	background-color: #cce5ff!important;
}

.quickFilter.btnSplit.active + .btnAdvancedFilter.btnSplitArrowDropdown:hover,
.btnAdvancedFilter.btnSplitArrowDropdown.active + .quickFilter.btnSplit:hover,
.quickFilter.btnSplit.active:hover,
.btnAdvancedFilter.btnSplitArrowDropdown.active:hover {
	background-color: #cce5ff!important;
}

.btnCreate, 
.btnPersonFilter,
.btnSort {
	height: 33px;
	min-width: 94px;
	border-radius: 3px;
	line-height: 14px;
	font-size: 14px;
}