$RED: #ea5455;
$RED_DARK: #d32f2f;

$PURPLE: #7367f0;
$PURPLE_DARK: #6355ee;

$GREEN: #28c76f;
$GREEN_DARK: #24b364;

$ORANGE: #ff8510;
$ORANGE_DARK: #e0770e;

$LIGHT_BLUE: #00cfe8;

$YELLOW: #ffcb00;
$YELLOW_DARK: #e0b400;

$MAGENTA: #f74875;

$DARK_GREY: #676879;

$BLUE: #157efb;
$BLUE_DARK: #1268c9;