flex-top

/* FRAMEWORK */
.flex {
  display: flex;
}

.flexCenterCenterRow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.flexCenterRightRow {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}

.flexCenterSpaceBetweenRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.flexBottom-SpaceBetweenRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
}

.flexTop-SpaceBetweenRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}

.flexCenterSpaceAroundRow {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.flexTopSpaceAroundRow {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
}

.flexCenterSpaceEvenlyRow {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.flexLeftSpaceEvenlyRow {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: row;
}

.flexTopSpaceEvenlyRow {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: row;
}

.flexTopSpaceBetweenRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}

.flexCenterCenterColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flexTopCenterColumn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.flexTopCenterRow {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}

.flexTopLeftColumn {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.flexTopRightColumn {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column
}

.flexTopLeftRow {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
}

.flexTopRightRow {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: row;
}

.flexBottomCenterRow {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
}

.flexBottomCenterColumn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

.flexBottomLeftRow {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: row;
}

.flexBottomRightColumn {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}

.flexTopLeftColumn {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.flexTopLeftColumnReverse {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column-reverse;
}

.flexCenterLeftColumn {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.flexCenterRightColumn {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}

.flexCenterLeftRow {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.flexWrap {
  flex-wrap: wrap;
}

/* TEXT ALIGN CLASSES */
.textLeft {
  text-align: left;
}

.textRight {
  text-align: right;
}

.textCenter {
  text-align: center;
}