.pageWrapper {
  padding: 95px 15px 15px;
}

.card {
  padding: 1.5rem;
  border: none;
  margin-bottom: 15px;
  -webkit-box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
  box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
  background-color: white;
  border-radius: 0.428rem;
}

/* 
  Blues pulled from old files we may want:
    1) #39c2dd;
    2) #4260f2
*/
.textBlue {
	color: #157efb;
}

.red {
  color: red;
}

.submitButton {
  display: block;
  border-color: #157efb;
  background-color: #157efb;
  text-align: center;
  border: 1px solid transparent;
  padding: 0.786rem 1.5rem;
  width: 100%;
  border-radius: 3px;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  margin-top: 1rem;
  width: 150px;
}

.submitButton:hover {
  cursor: pointer;
  background-color: #5e50ee;
  -webkit-box-shadow: 0 8px 25px -8px #7367f0;
  box-shadow: 0 8px 25px -8px #7367f0;
}