.headerDescription {
  p {
      p {
          display: inline-block;
          color: 'red';
      }
  };

  h1 {
    font-weight: 700;
    line-height: '2.5rem';
  };
};

/* TABLE FRAMEWORK */
.tblPri {
  width: 100%;
  .tblHdr {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;

      .tblCell {
          font-weight: bold;
          &:first-of-type {
              border-radius: 5px 0 0 0;
              .pulseIndicator {
                  border-radius: 5px 0 0 0;
              }
          }
          &:last-of-type {
              border-radius: 0 5px 0 0;
              .pulseIndicator {
                  border-radius: 0 0 5px 0;
              }
          }
      }
  }
  .tblRow {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      &:last-of-type {

          .tblCell {
              &:first-of-type {
                  border-radius: 0 0 0 5px;
                  .pulseIndicator {
                      border-radius: 0 0 0 5px;
                  }
              }
              &:last-of-type {
                  border-radius: 0 0 5px 0;
              }
          }
      }
  }
  .tblCell {
      // width: 120px;
      flex: 1;
      border: 1px solid #d0d4e4;
      justify-content: center;
      align-items: center;
      height: 36px;
      margin-top: -1px;
      margin-right: -1px;
      display: flex;
      position: relative;
      .pulseIndicator {
          background-color: #579bfc;
          width: 7px;
          height: 36px;
          margin-top: -1px;
          position: absolute;
          top: 0;
          left: 0;
      }
  }
}

.pageWrapper.creditTermTable {
  padding: 95px 15px 15px 15px;
}