@import './constants.module.scss';

/* RED TEXT */
.textRed {
  color: $RED;
}

/* BLUE TEXT */
.textBlue {
  color: $BLUE;
}

/* PURPLE TEXT */
.textPurple {
  color: $PURPLE;
}

/* GREEN TEXT */
.textGreen {
  color: $GREEN;
}

/* ORANGE TEXT */
.textOrange {
  color: $ORANGE;
}

/* LIGHT BLUE TEXT */
.textLightBlue {
  color: $LIGHT_BLUE;
}

/* YELLOW TEXT */
.textYellow {
  color: $YELLOW;
}

/* MAGENTA TEXT */
.textMagenta {
  color: $MAGENTA;
}

/* WHITE TEXT */
.textWhite {
  color: white;
}

/* DARK GREY TEXT */
.textDarkGrey {
  color: $DARK_GREY;
}