/* BLUE TEXT */
/* .text-blue {
	color: #157efb;
} */

/* RED TEXT */
.textRed {
  color: #ea5455;
}

/* PURPLE TEXT */
.textPurple {
  color: #7367f0;
}

/* GREEN TEXT */
.textGreen {
  color: #28c76f;
}

/* ORANGE TEXT */
.textOrange {
  color: #ff8510;
}

/* LIGHT BLUE TEXT */
.textLightBlue {
  color: #00cfe8;
}

/* YELLOW TEXT */
.textYellow {
  color: #ffcb00;
}

/* MAGENTA TEXT */
.textMagenta {
  color: #f74875;
}

/* WHITE TEXT */
.textWhite {
  color: white;
}

/* DARK GREY TEXT */
.textDarkGrey {
  color: #676879;
}