@use 'constants.module.scss';

/* RED TEXT */
.textRed {
  color: constants.$RED;
}

/* BLUE TEXT */
.textBlue {
  color: constants.$BLUE;
}

/* PURPLE TEXT */
.textPurple {
  color: constants.$PURPLE;
}

/* GREEN TEXT */
.textGreen {
  color: constants.$GREEN;
}

/* ORANGE TEXT */
.textOrange {
  color: constants.$ORANGE;
}

/* LIGHT BLUE TEXT */
.textLightBlue {
  color: constants.$LIGHT_BLUE;
}

/* YELLOW TEXT */
.textYellow {
  color: constants.$YELLOW;
}

/* MAGENTA TEXT */
.textMagenta {
  color: constants.$MAGENTA;
}

/* WHITE TEXT */
.textWhite {
  color: white;
}

/* DARK GREY TEXT */
.textDarkGrey {
  color: constants.$DARK_GREY;
}