.addressCard {
  background-color: white;
  width: 100%;
  display: flex;
  align-items: center;

  div.columnTd {
    width: 14.2857%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 45px;
  }

  .deleteIcon {
    cursor: pointer;
    font-size: 22px;
    color: red;
    transition: transform 0.3s;
  }
}