.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;

  label {
    font-weight: bold;
  }

  .input-field-container {
    position: relative;
    display: flex;
    align-items: center;

    input {
      width: 100%;
      padding: 10px 12px; // Default padding
      border: 1px solid #ccc;
      border-radius: 4px;
      transition: border-color 0.2s ease-in-out;
      height: 40px; // Consistent height

      &:focus {
        border-color: #007bff;
        outline: none;
      }

      &.has-left-element {
        padding-left: 50px; // Space for left icon or left unit
      }

      &.has-right-element {
        padding-right: 50px; // Space for right icon or right unit
      }
    }

    .left-input-field-icon,
    .right-input-field-icon,
    .left-input-field-unit,
    .right-input-field-unit {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      color: #555;
    }

    .left-input-field-icon,
    .left-input-field-unit {
      left: 10px;
    }

    .right-input-field-icon,
    .right-input-field-unit {
      right: 10px;
    }

    .left-input-field-unit,
    .right-input-field-unit {
      font-size: 14px;
      font-weight: bold;
      color: #333;
    }
  }
}