.forgotPasswordFrame {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .forgotPasswordContainer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .colLeft {
      width: 66.6666%;
      position: relative;

      .eliWelcomeSplash {
        width: 60%;
      }

      .grayBackgroundShape {
        position: absolute;
        bottom: -87px;
        width: 100%;
      }
    }

    .colRight {
      width: 33.3333%;
      background-color: white;

      .forgotPasswordFormContainer {
        width: 400px;

        .submitButton {
          width: 100%;
        }

        p {
          margin: 10px 0 20px;
          font-weight: lighter;
        }
      }
    }

    .colLeft,
    .colRight {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}